[Unit]
Description=My test service
[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/python3 dir/start.py
[Install]
WantedBy=multi-user.target  
